# Debug DLL/files can be generated and added to the releases
xBot/bin/Debug/*.config
xBot/bin/Debug/*.manifest
xBot/bin/Debug/*.json
xBot/bin/Debug/*.xml

xBot/obj/Debug/

# Bot data generated
xBot/bin/Debug/Data/
xBot/bin/Debug/Config/
xBot/bin/Debug/Minimap/

# Packages can be restored via NuGet
packages/

# Release version will be zipped apart with only required files
xBot/bin/Release/
xBot/obj/Release/