# Visual Studio cache
.vs/

# Files generated
xBot/obj/
xBot/bin/Debug
xBot/bin/Release/*

# Loader
xBotLoader/*
!xBotLoader/edxSilkroadLoader5
xBotLoader/edxSilkroadLoader5/*
!xBotLoader/edxSilkroadLoader5/edxSilkroadLoader5.cpp


# Dependencies / DLL References

!xBot/bin/Release/xBotLoader.dll
!xBot/bin/Release/xBotLoader.exe

!xBot/bin/Release/DevIL.dll
!xBot/bin/Release/DevIL.NET2.dll

!xBot/bin/Release/x86/SQLite.Interop.dll
!xBot/bin/Release/x64/SQLite.Interop.dll
!xBot/bin/Release/System.Data.SQLite.dll

!xBot/bin/Release/Newtonsoft.Json.dll

!xBot/bin/Release/AutoUpdater.NET.dll

# It's not used probably, I do not remember.
!xBot/bin/Release/clipper_library.dll