# Visual Studio cache
.vs/

# Files generated
xBot/bin/
xBot/obj/

# Loader
xBotLoader/
!bin/Release/xBotLoader.dll
!bin/Release/xBotLoader.exe

# Dependencies / DLL References

!bin/Release/DevIL.dll
!bin/Release/DevIL.NET2.dll

!bin/Release/x86/SQLite.Interop.dll
!bin/Release/x64/SQLite.Interop.dll
!bin/Release/System.Data.SQLite.dll

!bin/Release/Newtonsoft.Json.dll

!bin/Release/AutoUpdater.NET.dll

!bin/Release/clipper_library.dll # It's not used probably, I cannot remember.
